.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: aqua;
  }

  .h-fir{
    display: flex;
    
  }

  .h-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1200px;
  }